POSTGRES_USER=greenroots
POSTGRES_PASSWORD=your_password
POSTGRES_DB=greenroots


DATABASE_URL="postgresql://greenroots:your_password@db:5432/greenroots"


POSTGRES_TEST_USER=greenroots
POSTGRES_TEST_PASSWORD=your_password
POSTGRES_TEST_DB=greenroots_test


TEST_DATABASE_URL="postgresql://greenroots:your_password@db-test:5432/greenroots_test?schema=public"


JWT_SECRET=
JWT_EXPIRES_IN=

# BREVO
BREVO_API_KEY=
MAIL_FROM_EMAIL=
MAIL_FROM_NAME=GreenRoots

FRONTEND_URL=http://localhost:3000
# STRIPE
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
