PORT=3001
API_URL=http://localhost:3001


# Base de données
DATABASE_URL=postgresql://user:password@db:5432/greenroots


# JWT
JWT_SECRET=
JWT_EXPIRES_IN=


FRONTEND_URL=http://localhost:3000
# En production remplacer par :
# FRONTEND_URL=https://greenroots.vercel.app (sans / à la fin)

# STRIPE
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
